<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>GoodPrints</title>
    <meta name="description"
        content="A best clean, modern, stylish, creative, responsive theme for different eCommerce business or industries." />
    <meta name="keywords"
        content="organic food theme, vegetables, foof store, eCommerce html template, responsive, electronics store, furniture wood, fashion, furniture, mobile, watches, electronics, computers accessories, toys, jewellery, restaurant accessories" />
    <meta name="author" content="spacingtech_webify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/favicon" href="/static/image/fav.png">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- simple-line icon -->
    <link rel="stylesheet" type="text/css" href="/static/css/simple-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css">
    <!-- ion icon -->
    <link rel="stylesheet" type="text/css" href="/static/css/ionicons.min.css">
    <!-- owl slider -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.theme.default.min.css">
    <!-- swiper -->
    <link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
    <!-- animation -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/static/css/goodprints.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive4.css">
</head>

<body>
    <!-- top notification bar start -->
    <section class="top-4">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <ul class="top-home">
                        <li class="top-home-li t-content">
                            <!-- information start -->
                            <div class="top-content">
                                <ul class="top-contect">
                                    <li><a href="tel:+234 708 999 6278"><i class="ti-mobile"></i> +234 708 999 6278</a></li>
                                    <li><a href="#"><i class="ti-email"></i> order@goodprints.com.ng</a></li>
                                    <li><a href=""><i class="fa fa-whatsapp fa-2x" style="color: green;"></i></a></li>
                                </ul>
                            </div>
                            <!-- information end -->
                        </li>
                        <li class="top-home-li">
                            <ul class="top-dropdown">
                                <li class="top-dropdown-li notification-title">
                                    <a href="about-us.html">Track Orders</a>
                                </li>
                                <li class="top-dropdown-li notification-title">
                                    <a href="contact.html">Corporate Prices</a>
                                </li>
                                <!-- login start -->
                                <li class="top-dropdown-li">
                                    <a href="javascript:void(0)">Account</a>
                                    <i class="ion-ios-arrow-down"></i>
                                    <ul class="account">
                                        <li><a href="register.html">register / log in</a></li>
                                        <li><a href="checkout-3.html">checkout</a></li>
                                        <li><a href="wishlist.html">my wishlist</a></li>
                                        <li><a href="order-complete.html">order history</a></li>
                                        <li><a href="cart.html">my cart</a></li>
                                    </ul>
                                </li>
                                <!-- login end -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- top notification bar start -->

    <!-- header start -->
    <header class="header-area">
        <div class="header-main-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header-main">
                            <!-- logo start -->
                            <div class="header-element logo">
                                <a href="{% url 'home' %}">
                                    <img src="/static/image/prints.jpg" alt="logo-image" class="img-fluid">
                                </a>
                            </div>
                            <!-- logo end -->
                            <!-- search start -->
                            <div class="header-element header-search">
                                <form>
                                    <input type="text" name="search" placeholder="Search Business Cards, Diaries, Flyers and other products">
                                    <button class="search-btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <!-- search end -->
                            <!-- header icon start -->
                            <div class="header-element right-block-box">
                                <ul class="shop-element">
                                    <li class="side-wrap nav-toggler">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbarContent">
                                            <span class="line"></span>
                                        </button>
                                    </li>
                                    <li class="side-wrap search-wrap">
                                        <!-- mobile search start -->
                                        <div class="search-rap">
                                            <a href="#search-modal" class="search-popuup" data-bs-toggle="modal"><i
                                                    class="ion-ios-search-strong"></i></a>
                                        </div>
                                        <!-- mobile search end -->
                                    </li>
                                    <li class="side-wrap wishlist-wrap">
                                        <a href="https://wa.me/" class="header-wishlist">
                                            <span class="wishlist-icon"><i class="fa fa-whatsapp" style="color: green;"></i></span>
                                        </a>
                                    </li>
                                    <li class="side-wrap cart-wrap">
                                        <div class="shopping-widget">
                                            <div class="shopping-cart">
                                                <a href="javascript:void(0)" class="cart-count">
                                                    <span class="cart-icon-wrap">
                                                        <span class="cart-icon"><i class="icon-handbag"></i></span>
                                                        <span id="cart-total" class="bigcounter">0</span>
                                                        <!-- <span class="cart-price">$770.48 NGN</span> -->
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- header icon start -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu start  -->
        <section class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top-menu">
                            <!-- mega menu start -->
                            <div class="header-element megamenu-content">
                                <div class="mainwrap">
                                    <ul class="main-menu">
                                        <li class="menu-link">
                                            <a href="{% url 'home' %}" class="link-title">
                                                <span class="sp-link-title">Home</span>
                                            </a>
                                        </li>
                                        <li class="menu-link parent">
                                            <a href="javascript:void(0)" class="link-title">
                                                <span class="sp-link-title">All Products</span>
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <a href="#collapse-top-page-menu" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                <span class="sp-link-title">All Products</span>
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-submenu sub-menu collapse" id="collapse-top-page-menu">
                                                <li class="submenu-li">
                                                    <a href="about-us.html" class="submenu-link">About us</a>
                                                </li>
                                                <li class="submenu-li">
                                                    <a href="billing-info.html" class="submenu-link">Billing info</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-link">
                                            <a href="javascript:void(0)" class="link-title">
                                                <span class="sp-link-title">Become a Reseller</span>
                                            </a>
                                        </li>
                                        <li class="menu-link">
                                            <a href="javascript:void(0)" class="link-title">
                                                <span class="sp-link-title">Cost Calculator</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- mega menu end -->
                            <!-- hotline start -->
                            <!-- <div class="offer">
                                <a href="javascript:void(0)"><i class="ti-tag"></i> Clearance up to 30% off</a>
                            </div> -->
                            <!-- hotline end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- menu end -->
        <!-- mobile menu start -->
        <div class="header-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main-menu-area">
                            <div class="main-navigation navbar-expand-xl">
                                <div class="box-header menu-close">
                                    <button class="close-box" type="button"><i class="ion-close-round"></i></button>
                                </div>
                                <div class="navbar-collapse" id="navbarContent">
                                    <!-- main-menu start -->
                                    <div class="megamenu-content">
                                        <div class="mainwrap">
                                            <ul class="main-menu">
                                                <li class="menu-link">
                                                    <a href="{% url 'home' %}" class="link-title">
                                                        <span class="sp-link-title">Home</span>
                                                    </a>
                                                </li>
                                                <li class="menu-link parent">
                                                    <a href="javascript:void(0)" class="link-title">
                                                        <span class="sp-link-title">All Products</span>
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <a href="#collapse-top-page-menu" data-bs-toggle="collapse" class="link-title link-title-lg">
                                                        <span class="sp-link-title">All Products</span>
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-submenu sub-menu collapse" id="collapse-top-page-menu">
                                                        <li class="submenu-li">
                                                            <a href="about-us.html" class="submenu-link">About us</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="billing-info.html" class="submenu-link">Billing info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-link">
                                                    <a href="{% url 'home' %}" class="link-title">
                                                        <span class="sp-link-title">Become a Reseller</span>
                                                    </a>
                                                </li>
                                                <li class="menu-link">
                                                    <a href="{% url 'home' %}" class="link-title">
                                                        <span class="sp-link-title">Cost Calculator</span>
                                                    </a>
                                                </li>
                                                <li class="menu-link">
                                                    <a href="{% url 'home' %}" class="link-title">
                                                        <span class="sp-link-title">Track Orders</span>
                                                    </a>
                                                </li>
                                                <li class="menu-link">
                                                    <a href="{% url 'home' %}" class="link-title">
                                                        <span class="sp-link-title">Corporate Prices</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- main-menu end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu end -->
        <!-- minicart start -->
        <div class="mini-cart">
            <a href="javascript:void(0)" class="shopping-cart-close"><i class="ion-close-round"></i></a>
            <div class="cart-item-title">
                <p>
                    <span class="cart-count-desc">There are</span>
                    <span class="cart-count-item bigcounter">4</span>
                    <span class="cart-count-desc">Products</span>
                </p>
            </div>
            <ul class="cart-item-loop">
                <li class="cart-item">
                    <div class="cart-img">
                        <a href="product-style-4.html">
                            <img src="/static/image/cart-img.jpg" alt="cart-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="cart-title">
                        <h6><a href="product-style-4.html">Fresh apple 5kg</a></h6>
                        <div class="cart-pro-info">
                            <div class="cart-qty-price">
                                <span class="quantity">1 x </span>
                                <span class="price-box">$250.00 USD</span>
                            </div>
                            <div class="delete-item-cart">
                                <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="cart-img">
                        <a href="product-style-4.html">
                            <img src="/static/image/cart-img02.jpg" alt="cart-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="cart-title">
                        <h6><a href="product-style-4.html">Natural grassbean 4kg</a></h6>
                        <div class="cart-pro-info">
                            <div class="cart-qty-price">
                                <span class="quantity">1 x </span>
                                <span class="price-box">$300.00 USD</span>
                            </div>
                            <div class="delete-item-cart">
                                <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="cart-img">
                        <a href="product-style-4.html">
                            <img src="/static/image/cart-img03.jpg" alt="cart-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="cart-title">
                        <h6><a href="product-style-4.html">Organic coconut juice 5ltr</a></h6>
                        <div class="cart-pro-info">
                            <div class="cart-qty-price">
                                <span class="quantity">1 x </span>
                                <span class="price-box">$250.00 USD</span>
                            </div>
                            <div class="delete-item-cart">
                                <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="cart-img">
                        <a href="product-style-4.html">
                            <img src="/static/image/cart-img04.jpg" alt="cart-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="cart-title">
                        <h6><a href="product-style-4.html">Orange juice 5ltr</a></h6>
                        <div class="cart-pro-info">
                            <div class="cart-qty-price">
                                <span class="quantity">1 x </span>
                                <span class="price-box">$350.00 USD</span>
                            </div>
                            <div class="delete-item-cart">
                                <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="subtotal-title-area">
                <li class="subtotal-info">
                    <div class="subtotal-titles">
                        <h6>Sub total:
                        </h6>
                        <span class="subtotal-price">$750.00 USD</span>
                    </div>
                </li>
                <li class="mini-cart-btns">
                    <div class="cart-btns">
                        <a href="cart.html" class="btn btn-style2"><span>View cart</span></a>
                        <a href="checkout-1.html" class="btn btn-style2"><span>Checkout</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- minicart end -->
        <!-- search start -->
        <div class="modal fade" id="search-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="search-content">
                                        <div class="search-engine">
                                            <input type="text" name="search" placeholder="Search Business Cards, Diaries, Flyers and other products">
                                            <button class="search-btn" type="button"><i
                                                    class="ion-ios-search-strong"></i></button>
                                        </div>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                            aria-label="Close"><i class="ion-close-round"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search end -->
    </header>
    <!-- header end -->

    {% block body %}
    {% endblock %}

    <!-- footer start -->
    <section class="footer4 section-tb-padding ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home4-footer">
                        <div class="f-logo">
                            <ul class="footer-ul">
                                <li class="footer-li footer-logo">
                                    <a href="{% url 'home' %}">
                                        <img class="img-fluid" src="/static/image/prints.jpg" alt="">
                                    </a>
                                </li>
                                <li class="footer-li footer-address">
                                    <ul class="foote-map">
                                        <li class="footer-icon">
                                            <i class="ion-ios-location"></i>
                                        </li>
                                        <li class="footer-add">
                                            <span>29, Isaac John Street, By Igbobi 
                                            </span>
                                            <span>College, Fadeyi, Lagos Nigeria.</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer-li footer-contact">
                                    <ul class="footer-num">
                                        <li class="footer-icon">
                                            <i class="ion-ios-telephone"></i>
                                        </li>
                                        <li class="footer-info">
                                            <a href="tel:+234 708 999 6278">Phone: +234 708 999 6278</a>
                                            <a href="mailto:order@goodprints.com.ng">Email: order@goodprints.com.ng</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-bottom">
                            <div class="footer-link" id="footer-accordian">
                            </div>
                        </div>
                        <div class="footer-deal">
                            <div class="f-deal-content">
                                <h2>Subscribe Now</h2>
                                <!-- <p>Ana receive 20$ coupon for first shopping</p> -->
                            </div>
                            <div class="footer-search">
                                <form>
                                    <input type="text" name="email" placeholder="Enter your email address">
                                    <a href="javascript:void(0)" class="btn btn-style1"><span><i
                                                class="ion-paper-airplane"></i></span></a>
                                </form>
                                <ul class="f-bottom">
                                    <li class="f-social">
                                        <a href="https://wa.me/+2347089996278" class="f-icn-link"><i
                                                class="fa fa-whatsapp"></i></a>
                                        <a href="https://www.facebook.com/" class="f-icn-link"><i
                                                class="fa fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/" class="f-icn-link"><i
                                                class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/" class="f-icn-link"><i
                                                class="fa fa-instagram"></i></a>
                                        <a href="https://www.pinterest.com/" class="f-icn-link"><i
                                                class="fa fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer end -->

    <!-- copyright start -->
    <section class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="f-bottom">
                        <li class="f-c f-copyright">
                            <p>Copyright <i class="fa fa-copyright"></i> 2021 GoodPrints rights reserved</p>
                        </li>
                        <li class="f-c f-payment">
                            <a href="#!"><img src="/static/image/payment.png" class="img-fluid" alt="payment image"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright end -->

    <!-- back to top start -->
    <a href="javascript:void(0)" class="scroll" id="top">
        <span><i class="fa fa-angle-double-up"></i></span>
    </a>
    <!-- back to top end -->
    <div class="mm-fullscreen-bg"></div>
    <!-- jquery -->
    <script src="/static/js/modernizr-2.8.3.min.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- popper -->
    <script src="/static/js/popper.min.js"></script>
    <!-- fontawesome -->
    <script src="/static/js/fontawesome.min.js"></script>
    <!-- owl carousal -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- swiper -->
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/jquery.flexslider-min.js"></script>
    <!-- custom -->
    <script src="/static/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: 'fade',
                animationLoop: true,
                randomize: false,
                slideshow: true,
                slideshowSpeed: 5000,
                animationSpeed: 1000,
                touch: true,
                keyboard: true,
                controlsContainer: '.flexslider'
            });
        });
        </script>
</body>

</html>