{% extends "app.html" %}

{% block body %}

<!--home page slider start-->
<section class="home-slider-4">
    <!-- <div class="home-slider-main">
        <div class="home4-slider owl-carousel owl-theme">
            <div class="items">
                <div class="img-back s-image1" style="background-image:url(/static/image/slider12.jpg);">
                    <div class="slide-c-1 h-s-content">
                        <span class="slider-name">Daily discount</span>
                        <h1>Cornflour bread <br> only on $30.00</h1>
                        <a href="grid-list.html" class="btn btn-style1"><span>Buy now</span></a>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="img-back s-image2" style="background-image:url(/static/image/slider12.jpg);">
                    <div class="slide-c-2 h-s-content">
                        <span class="slider-name">One and only discount</span>
                        <h1>Inscription 'happy new year' and coconat</h1>
                        <a href="grid-list.html" class="btn btn-style1"><span>Buy now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="flex-container">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/static/image/slider12.jpg" />
                </li>
                
                <li>
                    <img src="/static/image/slider12.jpg" />
                </li>
                
                <li>
                    <img src="/static/image/slider12.jpg" />
                </li>
            </ul>
        </div>
    </div>
</section>
<!--home page slider end-->

<!-- grid-list start -->
<section class="section-tb-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="grid-4-product">
                    <div class="grid-list-select">
                        <ul class="grid-list-selector">
                            <li>
                                <label>Our Products</label>
                            </li>
                        </ul>
                        <ul class="grid-list-selector">
                            <!-- <li>
                                <label>Our Products</label>
                            </li> -->
                        </ul>
                    </div>
                    <div class="grid-pro">
                        <ul class="grid-product">
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Fresh organic fruit (50gm)</a></h3>
                                    <div class="rating">
                                        <i class="text-center">Starting From</i>
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price mb-3">$130.00</span> <span>per 100</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Fresh & healty food</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$126.00 USD</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Fresh apple</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$130.00 USD</span>
                                        <span class="old-price"><del>$150.00 USD</del></span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Fresh litchi 100% organic</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$117.00 USD</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Vegetable tomato fresh</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$133.00 USD</span>
                                        <span class="old-price"><del>$145.00 USD</del></span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Natural grassbean</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$139.00 USD</span>
                                        <span class="old-price"><del>$160.00 USD</del></span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                    
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Fresh dryed almod (50gm)</a></h3>
                                    <div class="rating">
                                        
                                    </div>Packs of Business Cards
                                    <div class="pro-price">
                                        <span class="new-price">$580.00 USD</span>
                                        <span class="old-price"><del>$590.00 USD</del></span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Orange juice (5ltr)</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$93.00 USD</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Shrimp jumbo</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$230.00 USD</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Fresh green orange</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$200.00 USD</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Sp. red fresh guava</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$180.00 USD</span>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-items">
                                <div class="tred-pro">
                                    <div class="tr-pro-img">
                                        <a href="{% url 'product-view' %}">
                                            <img class="img-fluid" src="/static/image/pro/product.jpg" alt="pro-img1">
                                            <img class="img-fluid additional-image" src="/static/image/pro/product.jpg" alt="additional image">
                                        </a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h3><a href="{% url 'product-view' %}">Sp. red fresh guava</a></h3>
                                    <div class="rating">
                                        
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">$180.00 USD</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- home brand start -->
<section class="home4-barnd-logo section-b-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home4-brand owl-carousel owl-theme">
                    <div class="items">
                        <img src="/static/image/brand/home-4/image1.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image2.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image3.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image4.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image5.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image6.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image7.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                    <div class="items">
                        <img src="/static/image/brand/home-4/image8.png" class="img-fluid brand-4" alt="brand-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home brand end -->

{% endblock %}