{% extends "app.html" %}

{% block body %}

<!-- breadcrumb start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-start">
                    <ul class="breadcrumb-url">
                        <li class="breadcrumb-url-li">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="breadcrumb-url-li">
                            <span>Packs of Business Cards</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->

<!-- product info start -->
<section class="section-tb-padding pro-page">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row pro-image">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-12 larg-image">
                        <div class="tab-content">
                            <div class="tab-pane fade" id="image-11">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="image-22">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/prro-page-image01.jpg)">
                                        <img src="/static/image/pro-page-image/prro-page-image01.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="image-33">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image1-1.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image1-1.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="image-44">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image1.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image1.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="image-55">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image2.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image2.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="image-66">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image2-2.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image2-2.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade show active" id="image-77">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image3.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image3.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="image-88">
                                <a href="javascript:void(0)" class="long-img">
                                    <figure class="zoom" onmousemove="zoom(event)" style="background-image: url(/static/image/pro-page-image/pro-page-image03.jpg)">
                                        <img src="/static/image/pro-page-image/pro-page-image03.jpg" class="img-fluid" alt="image">
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <ul class="nav nav-tabs pro-page-slider owl-carousel owl-theme">
                            <li class="nav-item items">
                                <a class="nav-link active" data-bs-toggle="tab" href="#image-11"><img src="/static/image/pro-page-image/image1.jpg" class="img-fluid" alt="image"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-22"><img src="/static/image/pro-page-image/image2.jpg" class="img-fluid" alt="iamge"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-33"><img src="/static/image/pro-page-image/image3.jpg" class="img-fluid" alt="image"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-44"><img src="/static/image/pro-page-image/image4.jpg" class="img-fluid" alt="image"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-55"><img src="/static/image/pro-page-image/image5.jpg" class="img-fluid" alt="image"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-66"><img src="/static/image/pro-page-image/image6.jpg" class="img-fluid" alt="image"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-77"><img src="/static/image/pro-page-image/image8.jpg" class="img-fluid" alt="image"></a>
                            </li>
                            <li class="nav-item items">
                                <a class="nav-link" data-bs-toggle="tab" href="#image-88"><img src="/static/image/pro-page-image/image7.jpg" class="img-fluid" alt="image"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-6 col-12 pro-info">
                        <h4>Packs of Business Cards</h4>
                        <span class="pro-details">Hurry up! only <span class="pro-number">7</span> products left in stock!</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
                        <div class="pro-availabale">
                            <span class="available">Material:</span>
                            <p class="pro-instock"> 
                                300 gsm matte card paper stock with 600 gsm options
                            </p>
                        </div>
                        <div class="pro-availabale">
                            <span class="available">Finishing:</span>
                            <p class="pro-instock"> 
                                Matte Lamination and round corner options
                            </p>
                        </div>
                        <div class="pro-price">
                            <span class="new-price">$580.00</span>
                        </div>
                        <div class="pro-availabale">
                            <span class="available mt-3">Specification:</span>
                        </div>
                        <div class="pro-items">
                            <span class="pro-size">Size:</span>
                            <ul class="pro-wight">
                                <li><a href="javascript:void(0)" class="active">5KG</a></li>
                                <li><a href="javascript:void(0)">1KG</a></li>
                            </ul>
                        </div>
                        <div class="product-color">
                            <span class="color-label">Color:</span>
                            <span class="color">
                                <a href="javascript:void(0)" class="active"><span></span></a>
                                <a href="javascript:void(0)"><span></span></a>
                                <a href="javascript:void(0)"><span></span></a>
                            </span>
                        </div>
                        <div class="pro-qty">
                            <span class="qty">Quantity:</span>
                            <div class="plus-minus">
                                <span>
                                    <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                    <input type="text" name="name" value="1">
                                    <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                </span>
                            </div>
                        </div>
                        <div class="pro-btn">
                            <a href="cart.html" class="btn btn-style1"><span><i class="fa fa-shopping-bag"></i> Add to cart</span></a>
                            <a href="checkout-1.html" class="btn btn-style1"><span>Buy now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product info end -->


{% endblock %}